waifu_list/api/__pycache__
waifu_list/api/migrations/__pycache__
waifu_list/waifu_list/__pycache__
test.py

# Elastic Beanstalk Files
waifu_list/elasticbeanstalk/*
waifu_list/elasticbeanstalk/*.cfg.yml
waifu_list/elasticbeanstalk/*.global.yml