container_commands:
    collectstatic:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "waifu_list.settings"
        PYTHONPATH: "/opt/python/current/app/waifu_list:$PYTHONPATH"

    aws:elasticbeanstalk:container:python:
        WSGIPath: waifu_list.wsgi:application

    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static